<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <title>app-pokemon</title>
</head>
<body>
    <h1>app-pokemon</h1>
    <p>Your random pokemon is: 
       <% if (locals.name) { %>
    <%= locals.name %>
       <% } else { %>
            TBD
       <% }%>
    </p>
    
</body>
</html>